

<mat-grid-list  cols="1"
                *ngIf="showSpinner; else contenido ">
    <mat-grid-tile>
        <p><mat-spinner *ngIf="showSpinner === true"></mat-spinner></p>
    </mat-grid-tile>

</mat-grid-list>

<ng-template #contenido>

    <h1>Listado de héroes</h1>
    <mat-divider></mat-divider>
    <br>

    <div fxLayout="row wrap"
        fxLayout.xs="colum"
        fxLayoutAlign="center"
        fxLayoutGap="20px">

        <div fxFlex="20"
            fxFlex.lg="15"
            fxFlex.sm="30"
            *ngFor="let heroe of heroes">
            <app-heroe-tarjeta [heroe]="heroe"></app-heroe-tarjeta>
            
        </div>
    </div>
</ng-template>